<div class="card">
<app-header></app-header>

<h3 class="section-title">Punto a adicionar a la ruta de labor : Identificador Ruta</h3>

<app-input
    label="Label"
    placeholder="Value"
    [required]="true"
    type="text"
></app-input>

<app-input
    label="Label"
    placeholder="Inserte comentarios u observaciones"
    type="textarea"
></app-input>

<app-input
    label="Label"
    [required]="true"
    type="select"
    [options]="['Opción 1', 'Opción 2', 'Opción 3']"
></app-input>

<h3 class="section-title">Punto a adicionar a la ruta de labor : Identificador Ruta</h3>

<app-checkbox
    label="Sí, puede ser no codificado"
    [checked]="true"
></app-checkbox>

<app-button label="button" type="primary"></app-button>
<app-button label="button" type="secondary"></app-button>
</div>

